/* Copyright (c) 2020 Alfish. All rights reserved. https://spdx.org/licenses/BSD-3-Clause */

.webglapp-container {
  --webglapp-font: 'Arial', 'Helvetica', 'Nimbus Sans L', 'Liberation Sans', 'FreeSans', sans-serif;
}
.webglapp-container/*[data-webglapp-splash="Dark"]*/ {
  --webglapp-bg: #231f20;
  --webglapp-fg: #fff;
}
.webglapp-container[data-webglapp-splash="Light"] {
  --webglapp-bg: #828080;
  --webglapp-fg: #000;
}

.webglapp-container {
  position: relative;
  margin: auto;
  overflow: hidden;
  user-select: none;
  background: var(--webglapp-bg);
}
.webglapp-container > * {
  position: absolute; top: 0; right: 0; bottom: 0; left: 0;
}
.webglapp-container > .webglapp-overlay:not([hidden]) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  color: var(--webglapp-fg);
}
.webglapp-container > .webglapp-overlay > *:not(.webglapp-title) {
  pointer-events: auto;
}
.webglapp-container > .webglapp-overlay > :not(.webglapp-play-btn) {
  flex-basis: 0;
  height: 0;
}

.webglapp-title {
  font-family: var(--webglapp-font);
}

.webglapp-container > .webglapp-overlay svg.webglapp-fullscreen-btn {
  position: absolute; right: 0; bottom: 0;
  width: 32px; height: 32px;
  cursor: pointer;
  opacity: 0.75;
  fill: none;
  stroke-linejoin: bevel;
  stroke-width: 2.5;
  stroke: var(--webglapp-fg);
}
.webglapp-container > .webglapp-overlay svg.webglapp-fullscreen-btn:hover {
  opacity: 1;
}
.webglapp-container > .webglapp-overlay svg.webglapp-fullscreen-btn:hover .webglapp-fullscreen-enter,
.webglapp-container > .webglapp-overlay svg.webglapp-fullscreen-btn:hover .webglapp-fullscreen-exit,
.webglapp-container > .webglapp-overlay svg.webglapp-fullscreen-btn:not(:hover) .webglapp-fullscreen-entering,
.webglapp-container > .webglapp-overlay svg.webglapp-fullscreen-btn:not(:hover) .webglapp-fullscreen-exiting,
.webglapp-container:fullscreen > .webglapp-overlay svg.webglapp-fullscreen-btn .webglapp-fullscreen-enter,
.webglapp-container:fullscreen > .webglapp-overlay svg.webglapp-fullscreen-btn .webglapp-fullscreen-entering,
.webglapp-container:not(:fullscreen) > .webglapp-overlay svg.webglapp-fullscreen-btn .webglapp-fullscreen-exit,
.webglapp-container:not(:fullscreen) > .webglapp-overlay svg.webglapp-fullscreen-btn .webglapp-fullscreen-exiting {
  display: none;
}

.webglapp-container > .webglapp-overlay svg.webglapp-play-btn {
  flex-basis: auto;
  cursor: pointer;
  stroke: var(--webglapp-fg);
  fill: var(--webglapp-fg);
}
.webglapp-container > .webglapp-overlay svg.webglapp-play-btn .webglapp-play-progress {
  stroke-width: 16;
  fill: none;
}
.webglapp-container > .webglapp-overlay svg.webglapp-play-btn .webglapp-play-symbol {
  stroke-width: 8;
  stroke-linejoin: round;
}
.webglapp-container > .webglapp-overlay svg.webglapp-play-btn .webglapp-play-bg {
  stroke: none;
  opacity: 0.25;
}
.webglapp-container > .webglapp-overlay svg.webglapp-play-btn:hover .webglapp-play-bg {
  opacity: 0.625;
}
.webglapp-container > .webglapp-overlay svg.webglapp-play-btn:active .webglapp-play-symbol,
.webglapp-container[data-webglapp-startplay="1"] > .webglapp-overlay svg.webglapp-play-btn .webglapp-play-symbol {
  opacity: 0.25;
}

.webglapp-unitycontainer > canvas {
  width: 100%; height: 100%;
}

.webglapp-unitycontainer > div {
  z-index: 100;
}
